body {
  font-family: Arial, sans-serif;
  background: url('/IMG/pabellon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.login {
  background-color: rgba(255, 255, 255, 0.889);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  max-width: 380px;
  width: 1000px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center; 
}

h1{
  margin: 0 0 8px 0; 
  font-size: 38px;
  color: rgb(45, 125, 160); 
  text-align: center; 
}

input[type="password"] {
  width: 320px;
  margin: 0 0 10px 0; 
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="submit"] {
  width: 345px;
  background-color: rgb(45, 125, 160);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  background-color: rgb(225, 96, 96);
  color: white;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center; 
  visibility: hidden;
  margin: 0 auto;
  width: 320px;
  min-width: 200px; 
}

.error.mostrar{
  visibility: visible;
}

